@page "/403"
@using Domain.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Resource> Localizer

<PageTitle>@Localizer[Resource.page_403]</PageTitle>

<h1>@Localizer[Resource.display_403]</h1>

@Localizer[Resource.display_403]
